<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/javascripts/mqtt.js"></script>
    <script src="/javascripts/jquery-3.1.1.js"></script>
    <script src="/javascripts/config.js"></script>
    <script src="/javascripts/sdk.js"></script>
    <meta charset="UTF-8">
    <title>MQTT H5 Demo</title>
</head>
<body>
<textarea rows="37" cols="97" disabled></textarea>
<script>
    gfWebsocket.watch('appId', 'anonymous', function (data) {
        render(data);
    });

    setTimeout(function () {
        gfWebsocket.watch('appId', 'user', function (data) {
            render(data);
        });
    }, 10000);

    function render (data) {
        var psconsole = $('textarea');
        psconsole.append(data + '\n');
        if(psconsole.length)
            psconsole.scrollTop(psconsole[0].scrollHeight - psconsole.height());
    }
</script>
</body>
</html>
