<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
    <meta charset="UTF-8">
    <title>MQTT</title>
</head>
<body>
<script>
    var client = mqtt.connect('ws://54.222.243.29:80/mqtt'); // you add a ws:// url here
    client.subscribe("test/topic");

    client.on("message", function (topic, payload) {
        console.log([topic, payload].join(": "));
        //client.end();
    });

    //client.publish("mqtt/demo", "hello world!");
</script>
</body>
</html>
